.div-form{
    background-color: #b4b2b2c2;
    padding: 10rem;
    display: flex;
    align-content: center;
    justify-content: center;
}


.form{
    margin: 10;
    
}

.form-input{
    background-color: #ffffff;
    color:black;
    margin-bottom:0.4rem;
}

.form-input:focus{
    color:white
}

.table-painel{
    display: flex;
    align-content: center;
    justify-content: center;
}

.painel-cadastrar{
    margin-bottom: -3.5rem;
}

.painel-atualizar{
    margin-bottom: 2.5rem;
}

.table-painel td{
    color:white
}

.title{
    text-align: center;
    margin-top:8rem;
}